.contractor-table th:nth-child(1) { /* ID */
    width: 2%;
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(1) {
    text-align: center;
}

.contractor-table th:nth-child(2) { /* Name */
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(2) {
    width: 15%;
    text-align: center;
}

.contractor-table th:nth-child(3) { /*NIP*/
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(3) {
    width: 15%;
    text-align: center;
}

.contractor-table th:nth-child(4) { /*adres*/
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(4) {
    width: 25%;
    text-align: center;
}

.contractor-table th:nth-child(5) { /* customer */
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(5) {
    width: 4%;
    text-align: center;
}

.contractor-table th:nth-child(6) { /* supplier */
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(6) {
    width: 4%;
    text-align: center;
}

.contractor-table th:nth-child(7) { /* Scaffolding user */
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(7) {
    width: 4%;
    text-align: center;
}

.contractor-table th:nth-child(8) { /* Created datetime */
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(8) {
    width: 5%;
    text-align: center;
    font-size: x-small;
}

.contractor-table th:nth-child(9) { /* Created by */
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(9) {
    width: 5%;
    text-align: center;
    font-size: x-small;
}

.contractor-table th:nth-child(10) { /* Modified datetime */
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(10) {
    width: 5%;
    text-align: center;
    font-size: x-small;
}

.contractor-table th:nth-child(11) { /* Modified by */
    text-align: center;
    font-size: x-small;
}

.contractor-table td:nth-child(11) {
    width: 5%;
    text-align: center;
    font-size: x-small;
}

.contractor-table th:nth-child(12) { /* Actions */
    text-align: center;
    align-content: center;
    font-size: x-small;
}

.contractor-table td:nth-child(12) {
    width: 10%;
    text-align: center;
    align-content: center;
}
