:root {
    --table-border-color: #a1a1aa; /* domyślnie szary */
    --table-bg-color: #f4f4f5; /* jasny */
    --table-header-bg-color: #d4d4d8;
    --table-text-color: black;
}

.dark-theme {
    /*--table-border-color: #3f3f46; !* ciemny szary *!*/
    /*--table-bg-color: #27272a; !* ciemny *!*/
    /*--table-header-bg-color: #404040; !* jeszcze ciemniejszy *!*/
    /*--table-text-color: white;*/
    --table-border-color: #a1a1aa; /* domyślnie szary */
    --table-bg-color: #f4f4f5; /* jasny */
    --table-header-bg-color: #d4d4d8;
    --table-text-color: black;
}

.custom-table {
    border-width: 2px;
    border-color: var(--table-border-color);
    background-color: var(--table-bg-color);
    color: var(--table-text-color);
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.custom-table th, .custom-table td {
    border-right: 2px solid var(--table-border-color);
    border-bottom: 2px solid var(--table-border-color);
    text-align: left;
    padding: 3px;
    height: 15px;
}

.custom-table th {
    background-color: var(--table-header-bg-color);
    font-size: 14px;
}

.custom-table td {
    font-size: 14px;
}
