.role-table th:nth-child(1){
    width: 2%; /* ID */
    text-align: center;
    font-size: x-small;
}
.role-table td:nth-child(1) {
    width: 2%; /* ID */
    text-align: center;
}

.role-table th:nth-child(2){
    width: 15%; /* Name */
    text-align: center;
    font-size: x-small;
}
.role-table td:nth-child(2) {
    width: 15%; /* Name */
    text-align: center;
}

.role-table th:nth-child(3){
    width: 7%; /* Create date */
    text-align: center;
    font-size: x-small;
}

.role-table td:nth-child(3) {
    width: 7%; /* Create date */
    text-align: center;
    font-size: x-small;
}


.role-table th:nth-child(4){
    width: 7%; /* Modify date */
    text-align: center;
    font-size: x-small;
}
.role-table td:nth-child(4) {
    width: 7%; /* Modify date */
    text-align: center;
    font-size: x-small;
}

.role-table th:nth-child(5){
    width: 4%; /* Deleting */
    text-align: center;
    align-content: center;
    font-size: x-small;
}
.role-table td:nth-child(5) {
    width: 4%; /* Deleting */
    text-align: center;
    align-content: center;
}