.user-table th:nth-child(1){
    width: 2%; /* ID */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(1) {
    width: 2%; /* ID */
    text-align: center;
}

.user-table th:nth-child(2){
    width: 15%; /* Email */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(2) {
    width: 15%; /* Email */
    text-align: center;
}

.user-table th:nth-child(3){
    width: 6%; /* Login */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(3) {
    width: 6%; /* Login */
    text-align: center;
}

.user-table th:nth-child(4){
    width: 8%; /* First Name */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(4) {
    width: 8%; /* First Name */
    text-align: center;
}

.user-table th:nth-child(5){
    width: 10%; /* Last Name */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(5) {
    width: 10%; /* Last Name */
    text-align: center;
}

.user-table th:nth-child(6){
    width: 9%; /* Position */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(6) {
    width: 9%; /* Position */
    text-align: center;
}

.user-table th:nth-child(7){
    width: 10%; /* Role */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(7) {
    width: 10%; /* Role */
    text-align: center;
}

.user-table th:nth-child(8){
    width: 7%; /* Locked */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(8) {
    width: 7%; /* Locked */
    text-align: center;
}

.user-table th:nth-child(9){
    width: 7%; /* Enabled */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(9) {
    width: 7%; /* Enabled */
    text-align: center;
}

.user-table th:nth-child(10){
    width: 7%; /* Create date */
    text-align: center;
    font-size: x-small;
}

.user-table td:nth-child(10) {
    width: 7%; /* Create date */
    text-align: center;
    font-size: x-small;
}


.user-table th:nth-child(11){
    width: 7%; /* Modify date */
    text-align: center;
    font-size: x-small;
}
.user-table td:nth-child(11) {
    width: 7%; /* Modify date */
    text-align: center;
    font-size: x-small;
}

.user-table th:nth-child(12){
    width: 8%; /* Actions */
    text-align: center;
    align-content: center;
    font-size: x-small;
}
.user-table td:nth-child(12) {
    width: 8%; /* Actions */
    text-align: center;
    align-content: center;
}
.user-table th:nth-child(13){
    width: 4%; /* Deleting */
    text-align: center;
    align-content: center;
    font-size: x-small;
}
.user-table td:nth-child(13) {
    width: 4%; /* Deleting */
    text-align: center;
    align-content: center;
}